@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root {
	--main-bg: white;
	--o-color: #38bcd4;
	--x-color: #3989d4;
	--draw-color: #9c9c9c;
	--grid-lines: rgba(224, 224, 224, 0.933);
	--light-grid-lines: #f0f3f4;
	--board-outline: #d0e7ec;

	--reset-settings-bg: #a2b5b8;
	--font: 'Fredoka One', cursive;
	--gridSpace: 100px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	background-color: var(--main-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 15px;
	font-family: var(--font);
}

.tictactoe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	-webkit-box-shadow: 0px 2px 14px 1px rgba(118, 180, 174, 0.81);
	box-shadow: 0px 2px 14px 1px rgba(118, 180, 174, 0.81);
	border: 3px solid var(--board-outline);
	padding: 3rem;
}

.tictactoeScoreBoard {
	display: flex;
	align-items: center;
	gap: 3.75rem;
	font-size: 1.5em;
}

.score {
	display: block;
}

.stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
}

.xWins {
	color: var(--x-color);
}

.oWins {
	color: var(--o-color);
}

.drawWins {
	color: var(--draw-color);
}

button {
	width: var(--gridSpace);
	height: var(--gridSpace);
	font-size: 7em;
	font-family: var(--font);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
}

.x {
	color: var(--x-color);
}

.o {
	color: var(--o-color);
}

#button\ one,
#button\ two,
#button\ four,
#button\ five,
#button\ seven,
#button\ eight {
	border-right: 3px solid var(--grid-lines);
}

#button\ one,
#button\ two,
#button\ three,
#button\ four,
#button\ five,
#button\ six {
	border-bottom: 3px solid var(--grid-lines);
}

.tictactoeBoard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.settings {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

.gameStatus {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.gameMode {
	background-color: var(--light-grid-lines);
	padding: 0.75em 1em;
	border-radius: 30px;
	color: var(--reset-settings-bg);
	cursor: pointer;
}

.gameMode:hover {
	background-color: var(--board-outline);
	color: var(--draw-color);
}

.gameModeSelected,
.gameModeSelected:hover {
	background-color: var(--o-color);
	color: var(--main-bg);
	cursor: pointer;
}

.settingsButton {
	background-color: var(--reset-settings-bg);
	border-radius: 100%;
	font-size: 0.5em !important;
	padding: 1rem;
	color: white;
	cursor: pointer;
}

.settingsButtons {
	background-color: white;
	border: 1px solid var(--light-grid-lines);
	border-radius: 100%;
}

.settingsButtons button {
	padding: 0;
}

.settingsButton:hover {
	background-color: var(--board-outline);
	color: var(--draw-color);
}

.settingsButton:active {
	color: var(--draw-color);
}

.toggleXorO {
	background-color: var(--light-grid-lines);
	display: flex;
	gap: 1em;
	color: white;
	padding: 0.5em;
	border-radius: 30px;
}

.toggle {
	background-color: var(--reset-settings-bg);
	padding: 0.25em;
	border-radius: 30px;
	cursor: pointer;
}

.active {
	cursor: pointer;
	background-color: var(--x-color);
}

.active:hover {
	background-color: var(--x-color);
}

/* Toggle Switch */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#modelBox {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(255, 255, 255, 0.698);
}

.settingsContainer {
	font-weight: normal;
	padding: 0.25em 0.25em;
	width: 60%;
	margin: 0 auto;
	margin-top: 40vh;

	-webkit-box-shadow: 0px 2px 14px 1px rgba(118, 180, 174, 0.81);
	box-shadow: 0px 2px 14px 1px rgba(118, 180, 174, 0.81);
	border: 3px solid var(--o-color);
}

.settingsContainerTitle {
	background-color: var(--o-color);
	position: absolute;

	padding: 1em 2em;
	-moz-transform: rotate(337deg);
	-webkit-transform: rotate(337deg);
	-o-transform: rotate(337deg);
	-ms-transform: rotate(337deg);
	transform: rotate(337deg);

	left: 18.5%;
}

.settingsContainerContents {
	background-color: rgb(255, 255, 255);
	padding: 4em 2em;
	display: flex;
	justify-content: space-between;
}

.settingsContainerContents h3 {
	display: block;
	font-size: 1.5em;
}

.colorPalette {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
}

.darkMode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}
